---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="New Post">
  <main class="container mx-auto py-8 px-6">
    <img
      class="w-full rounded-lg shadow-md"
      src="https://source.unsplash.com/random/800x400"
      alt="Article image"
    />
    <div class="mt-8">
      <h1 class="text-4xl font-bold text-gray-800">Blog Post Title</h1>
      <p class="text-gray-600 text-sm mt-2">Written by John Doe</p>
      <p class="text-gray-700 mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget
        lacus eu tellus consequat viverra. Nulla facilisi. Fusce consectetur
        elit id urna accumsan, in laoreet velit vehicula. Duis eget est
        vehicula, fermentum orci at, tincidunt leo. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
        tincidunt rutrum urna, a viverra elit aliquam at. Suspendisse sed neque
        ac urna ullamcorper pellentesque. Nam et lectus vel est mollis
        scelerisque. Donec in tortor viverra, aliquam quam in, dictum diam. Duis
        sed mi sit amet lacus hendrerit aliquet a non quam. Ut efficitur, sem at
        dap
      </p>
    </div>
  </main>
</Layout>
