---
import NewCard from "../components/NewCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Blog">
  <main class="container mx-auto py-8 px-6 h-full">
    <div class="grid grid-cols-3 gap-8">
      <NewCard
        src="https://source.unsplash.com/random/300x200"
        title="Post 2"
        body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut."
        href="post1"
        author="Rufus"
      />
      <NewCard
        src="https://source.unsplash.com/random/300x200"
        title="Post 2"
        body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut."
        href="post1"
        author="Rufus"
      />
      <NewCard
        src="https://source.unsplash.com/random/300x200"
        title="Post 2"
        body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut."
        href="post1"
        author="Rufus"
      />
      <NewCard
        src="https://source.unsplash.com/random/300x200"
        title="Post 2"
        body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut."
        href="post1"
        author="Rufus"
      />
    </div>
  </main>
</Layout>
