---
export interface Props {
  title: string;
  body: string;
  href: string;
  src: string;
}

const { href, title, body, src } = Astro.props;
---

<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <img src={src} alt="Post 1" class="w-full h-64 object-cover" />
  <div class="p-4">
    <h3 class="font-bold text-xl mb-2">{title}</h3>
    <p class="text-gray-700 text-base">{body}</p>
  </div>
</div>
