---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 font-sans">
    <header class="bg-white shadow-md">
      <div
        class="container mx-auto px-4 py-6 flex justify-between items-center"
      >
        <h1 class="text-3xl font-bold text-gray-900">{title}</h1>
        <nav>
          <a
            href="/"
            class="px-4 py-2 text-gray-700 hover:text-gray-900 font-semibold"
            >Home</a
          >
          <a
            href="/about"
            class="px-4 py-2 text-gray-700 hover:text-gray-900 font-semibold"
            >About</a
          >
          <a
            href="#"
            class="px-4 py-2 text-gray-700 hover:text-gray-900 font-semibold"
            >Contact</a
          >
        </nav>
      </div>
    </header>
    <slot />
    <footer class="bg-white py-4 px-6 shadow-md">
      <div class="container mx-auto flex justify-between items-center">
        <p class="text-gray-600 text-sm">Copyright 2021 My Blog</p>
        <nav class="font-bold text-gray-800">
          <a class="px-4 hover:underline" href="#">Contact</a>
          <a class="px-4 hover:underline" href="#">Privacy Policy</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
<script type="text/partytown" defer src="/_vercel/insights/script.js"></script>
